.movie-poster {
  /* box-sizing: content-box; */
  /* border: 3px solid black; */
  /* background-color: darkgray; */
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🔪</text></svg>")
      16 0, auto;
}

.image {
  width: 100%;
  height: 40vh;
  border-radius: 10px;
}

.image:hover {
	transform: scale(1.1); 
}