* {
	padding: 0;
	margin: 0;
}

.preview-container:before {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-position: center;
  background-repeat: no-repeat;  
}

.preview-container {
	display: flex;
	flex-direction: row;
	background-size: cover;
}

.preview {
	display: flex;
	flex-direction: row;
	width: 100%;
	background-image: linear-gradient(to right,
	rgba(199.5, 220.5, 220.5, .75) 150px, rgba(199.5, 220.5, 220.5, 0.75) 100%);
}


.display-left {
	width: 30%;
}

.display-right {
	width: 50%;
	height: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 100px;
}

.movie-title {
	font-weight: bolder;
	font-size: 40px;
}

.movie-tagline {
	font-style: italic;
	font-weight: light;
}
.overview-header {
	padding-bottom: 0px;
}

.movie-overview {
	letter-spacing: 1.5px;
	line-height: 1.5;
	text-align: left;
}

.movie-image {
	width: 90%;
	margin: 30px;
	border-radius: 10px;
}

.back-button {
	margin: 1em auto;
	padding: 2.5px;
	border: 1px solid black;
	border-radius: 4px;
	background-color: black;
	color: white;
	font-size: 15px;
	font-weight: bold;
	font-family: 'Berkshire Swash', cursive;
	font-family: 'Inconsolata', monospace;
	text-transform: uppercase;
	
	@supports (-webkit-mask-clip: text) {
		-webkit-text-fill-color: transparent;
		-webkit-mask: var(--full) text, var(--full) padding-box, var(--full);
		-webkit-mask-composite: xor;
	}
}

.back-button:hover {
	border-radius: 4px;
	transform: scale(1.1);
	cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🔪</text></svg>")
	16 0, auto;
}

.fav-img {
  height: 50px;
  width: 50px;
}