.nav-container {
	display: flex;
	background-color: rgb(31, 14, 14);
	color: white;
	height: 40px;
}

.nav-left {
	/* border: 2px solid white; */
	display: flex;
	justify-content: space-around;
	width: 18%;
}

.nav-right {
	width: 80%;
	/* border: 2px solid white; */
	display: flex;
	justify-content: flex-end;
	margin-right: 5px;
}

.dropdown {
	border-radius: 2px;
	display: flex;
}

.button {
	background-color: rgb(31, 14, 14);
	border: 2px solid rgb(31, 14, 14);
	color: #B5AC99;
}

.login-button,
.signup-button {
	margin-right: 10px;
	background-color: rgb(31, 14, 14);
	border: 2px solid rgb(31, 14, 14);
	color: #B5AC99;
	border-radius: 2px;
}

/* .button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
} */