.nav-container {
	display: flex;
	background-color: rgb(31, 14, 14);
	color: white;
	height: 50px;
}

.nav-left {
	/* border: 2px solid white; */
	display: flex;
	align-items: center;
	width: 18%;
}

.nav-right {
	width: 100%;
	/* border: 2px solid white; */
	display: flex;
	justify-content: flex-end;
}

.dropdown {
	border-radius: 2px;
	display: flex;
}

.button {
	font-family: 'Berkshire Swash', cursive;
	font-family: 'Inconsolata', monospace;
	font-size: larger;
	background-color: rgb(31, 14, 14);
	background: none;
	color: inherit;
	border: none;
	color: white;
	margin: 5px;
	padding: 10px;
	height: 45px;
	border-radius: 2px;
	text-decoration: underline;
}

.button:hover {
	transform: scale(1.1);
	color: red;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🔪</text></svg>")
      16 0, auto;
}

